<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <link type="text/css" rel="stylesheet" href="styles/StyleSheet.css">
    <style>

     

    </style>


    <title>Assignment</title>

</head>
<body>

    <nav class="rectangle-5">
        <div class="row">
            <div class="col-4 col-sm-4 col-xs-4">
                <img src="content/img/icon_1.png" class="icon1">
                <img src="content/img/icon_2.png" class="icon2">
                <img src="content/img/icon_3.png" class="icon3">
                <img src="content/img/icon_4.png" class="icon4">
            </div>
            <div class="col-4 col-sm-4 col-xs-4">

            </div>


            <div class="col-4 col-sm-4 col-xs-4">
                <img src="content/img/Mask%20Group%2012.png" class="maskgroup12"><a href="#" class="payonline"> Pay Online </a>
                <img src="content/img/Mask%20Group%2011.png" class="maskgroup11"><span class="specialoffer"> Special Offers </span>
            </div>

        </div>
    </nav>
    <nav class="rectangle-6">
        <div class="row">
            <div class="col-4  ">
                <img src="content/img/logo..png" class="logo">
            </div>

            <div class=" col-4">
                <div class="align">
                    <span class="call">Call us today for a Free Quote</span>
                </div>
                <div class="align">
                    <span class="number">(661) 367-8636</span>
                </div>
            </div>



            <div class=" col-4 ">
                <div class="rectangle9">
                    <span class="weed">WEED PROBLEMS ?</span>
                    <span class="lawn">LAWN CARE/SHRUBS</span>
                    <p class="experiencecar">The Experienced Gardener Can Help</p>

                </div>

            </div>
        </div>


    </nav>
    <nav class="rectangle-10">
        <div class="navbar">
            <a href="#">About Us</a>
            <a href="#">Residential Pest</a>
            <a href="#">Commercial Pest</a>
            <a href="#">Area We Serve</a>
            <a href="#">Contact Us</a>
        </div>
    </nav>
    <img src="content/img/banner1@2x.png" class="banner1">
    <div class="textblock">
        <p class="kids">Kid & Pet Friendly Pest Control</p>
        <p class="start">Starting at $42 per month !</p>
        <div class="rectangle13">
            <p class="schedule">Schedule Today</p>
        </div>
    </div>
    <div class="rectangle35">
        <div class="row">
            <p class="get">Get A FREE Estimate</p>
            <div class="rectangle36">
                <p class="name">Name</p>
            </div>
            <div class="email">
                <P class="mail">Email</P>
            </div>
            <div class="phone">
                <p class="phn">Phone</p>
            </div>
            <div class="service">
                <div class="srvc">Service</div>
            </div>
            <div class="send">
                <div class="snd">Send</div>
            </div>
        </div>
        <div class=" by">
            By submitting this from, you are agreeing to the privacy policy
        </div> <br>
        <div class="pest">
            Pest Control Services we offer in Kings, Tulare & Kern County
        </div>
        <br>
        <p class="at">At San Joaquin Pest Control, we are very proud to offer our pest control services to residence, business, food processing plants, and commercial applications throughout the San Joaquin Valley. With over 40 years of experience, our fully-trained pest control exterminators in Visalia, Hanford and Bakersfield will not only eliminate common pests, like ants, bed bugs, and rodents, but we will guarantee they don't come back or we will until they are gone once and for all.</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="row">
        <div class="col-sm-1">
            <div class="rectangle14-1">
                <img src="content/img/Mask%20Group%204.png" class=""><br>
                <div class="general">General Pest Control</div>
                <a href="#" class="learn" style="color: red">Learn now-></a>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="rectangle14-2">
                <img src="content/img/Mask%20Group%207.png" class="maskgroup7">
                <div class="commercial">General Pest Control</div>
                <p class="learn" style="color: red">Learn more -></p>

            </div>
        </div>
        <div class="col-sm-2">
            <div class="rectangle14-2">
                <img src="content/img/Mask%20Group%207.png" class="maskgroup7">
                <div class="commercial">General Pest Control</div>
                <p class="learn" style="color: red">Learn more -></p>

            </div>
        </div>
        <br>


    </div>
    <div class="row">
        <div class="col-sm-1">
            <div class="rectangle14-1">
                <img src="content/img/Mask%20Group%204.png" class="maskgroup4">
                <div class="general">General Pest Control</div>
                <p class="learn" style="color: red">Learn more -></p>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="rectangle14-2">
                <img src="content/img/Mask%20Group%207.png" class="maskgroup7">
                <div class="commercial">General Pest Control</div>
                <p class="learn" style="color: red">Learn more -></p>

            </div>
        </div>

        <div class="col-sm-2">
            <div class="rectangle14-2">
                <img src="content/img/Mask%20Group%207.png" class="maskgroup7">
                <div class="commercial">General Pest Control</div>
                <p class="learn" style="color: red">Learn more -></p>

            </div>
        </div>



    </div>

    <div class="rectangle15">


    </div>


</body>
</html>





